<div class="logInContainer">
    <mat-card>
        <mat-card-header>
            <p>Login</p>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
            <form>
                <p>Email</p>
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input [(ngModel)]="credentials.email" matInput name="email">
                </mat-form-field>
                <p>Senha</p>
                <mat-form-field>
                    <mat-label>Senha</mat-label>
                    <input type="password" [(ngModel)]="credentials.password" matInput name="password">
                </mat-form-field>
            </form>
            <button color="primary" mat-raised-button (click)="login()">Entrar</button>
            <p class="signup">Ainda não tem conta? <a routerLink="/signup">Cadastre-se</a></p>
        </mat-card-content>
    </mat-card>
</div>