.perfilCard{
    border-radius:0px !important;
    position: sticky;
    bottom: 0;
    
}

.mat-mdc-card-content:last-child {
    padding-bottom: 0px !important;
}

.mat-mdc-card-content:first-child {
    padding-top: 0px !important;
}

mat-card-content{
    display: flex;
    vertical-align: middle;
    padding-right: 0;
    padding: 0px;
}

.perfilDiv{
    cursor:pointer;
    display: flex;
    vertical-align: middle;
    flex-direction: row;
    flex: 1;
    align-items: center;
    padding: 20px 20px;
    background-color: #F2F2F2;
}

p{
    margin: 0;
    align-self: center;
    vertical-align: middle;
    color: #000;
    font-size: 16px;
}

mat-icon{
    color: #000;
}

.addContactDiv{
    cursor:pointer;
    display: flex;
    vertical-align: middle;
    flex-direction: row;
    align-items: center;
    padding: 26px 20px;
    background-color: #007BFF;
}